/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

*{
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

.a-login {
	text-decoration: none;
	color: inherit;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.modifier {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.modifier a {
	margin-bottom: 2em;
	display: flex;
	flex-direction: row;
	margin-left: 20px;
}

.img-modifier {
	height: 30px;
	width: 30px;
}

/*******Filtres*******/
#filter{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.button-filter {
	width: 15%;
	height: 75%;
	border-radius: 50px;
	margin-left: 15px;
	color: #1D6154;
	border: solid 2px #1D6154;
}


#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/********Modale de connexion**********/

.modal {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
	display: flex;
	position: fixed;
	flex-direction: column;
	align-items: center;
	left: 25%;
	top: 5%;
	background-color: white;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	height: 75%;
  }
  
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	align-self: flex-end;
  }
  
.modal h2 {
	color: black;
	margin-bottom: 30px;
}

.sup-icon {
	width: 5%;
	height: 5%;
	object-fit: none;

}


  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  #galerie-modal{
	display: grid;
	justify-content: center;
	width: 90%;
	height: 100%;
	grid-template-columns: repeat(5, 15%);
    grid-template-rows: repeat(3, 30%);
	grid-auto-flow: dense;
	grid-gap: 40px;
}


.photo {
	width: 100%;
	height: 100%px;
	position: relative; 
}

.photo a {
	position: absolute;
	top: 0;
	right: 0; 
}

.photo .sup-icon {
	width: 20px; 
	height: 20px;
	opacity: 0.6; 
}

.photo .sup-icon:hover {
	opacity: 1;
	cursor: pointer;
}


.photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.footer-modal{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	margin-top: auto;
	margin-bottom: 35px;
	border-top: 1px solid #aaa;
	padding-top: 30px;
	width: 70%;
}

.footer-modal a {
	color: red;
}

.btn-modal {
	margin-bottom: 15px;
	margin-top: 30px;
	width: 60%;
	height: 40px;
	border-radius: 50px;
	border: none;
	background-color: #1D6154;
	color: white;
	font-size: 1em;
	font-weight: bold;
}


/********Modale d'ajout**********/

.modal-works {
	display: none;
	position: absolute;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
  }

.header-modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 10%;
}

  .retour {
    position: absolute;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
}

.close-aj {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	align-self: flex-end;
  }
  
  .close-aj:hover,
  .close-aj:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  .modal-content-works {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	left: 25%;
    top: 15%;
	background-color: white;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	height: 75%;
  }

  .modal-content-works h2{
	color: black;
	margin-bottom: 20px;
	margin-top: 5px;
  }

.ajout-works{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	height: 70%;
	padding: 20px;
}

.depot {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E8F1F6;
	width: 100%;
	height: 40%;
	border: 1px solid #ccc;
  	overflow: hidden;
}

.depot-illus {
	margin: 15px;
}


#depo-btn {
	font-size: 14px;
	font-weight: 500;
	padding: 10px;
	background-color: #CBD6DC;
	line-height: 16px;
	color: #306685;
	border: none;
	border-radius: 50px;
	width: 50%;
	cursor: pointer;
	opacity: 0.8;
}

#depo-btn:hover{
	opacity: 1;
	cursor: pointer;
}

.title {
	margin: 20px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#ajout-titre {
	font-size: 1.5em;
	color: #888;
	padding: 5px;
}

#categorie{
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #aaa;
}

.cat {
	width: 100%;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
}

.validation {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid #888;
	margin-bottom: 10px;
	margin-top: auto;
}
